<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wcasoft.megasena">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!-- Thema.Splash"> -->
    <activity android:name=".activity.MainActivityHome" android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>

        <!-- Thema.Generico"> -->
        <activity android:name=".activity.MainActivity" android:theme="@style/Theme.Generico">

        </activity>
        </application>

</manifest>

